Firmware_src/projects/target_apps/ble_examples/prox_reporter/Eclipse/tool/common_resources/SupportPackages/XMLs_XSDs/AppWebUpdates.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WebUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="products">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="product" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:ID" name="id" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OS_list">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OS" maxOccurs="3" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:ID" name="id" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AppWebUpdates">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AppWebUpdate" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OS">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:IDREF" name="refid" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="product">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:IDREF" name="refid" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="version"/>
                    <xs:element type="xs:dateTime" name="timestamp"/>
                    <xs:element type="xs:string" name="file"/>
                    <xs:element type="xs:string" name="sha1"/>
					<xs:element type="xs:string" name="changesFile"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

