Firmware_src/projects/target_apps/ble_examples/prox_reporter/Eclipse/tool/common_resources/SupportPackages/XMLs_XSDs/flash_configurations.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="flash_configurations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="configuration">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="flash_size" type="xs:string" />
              <xs:element name="flash_burstcmda_reg_value" type="xs:string" />
              <xs:element name="flash_burstcmdb_reg_value" type="xs:string" />
              <xs:element name="flash_ctrlmode_reg_value" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="flash_write_config_command" type="xs:string" />
             <xs:element name="NVMS_PARTITION_TABLE_START" type="xs:string" minOccurs="0" maxOccurs="1"/> 
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="unsupported" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>