Firmware_src/projects/target_apps/ble_examples/prox_reporter/Eclipse/tool/common_resources/SupportPackages/XMLs_XSDs/OnlineSupportPacks.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="supportPacks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="supportPack" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="family"/>
              <xs:element type="xs:string" name="toolboxVersion"/>
              <xs:element type="xs:dateTime" name="timestamp"/>
              <xs:element type="xs:string" name="file"/>
              <xs:element type="xs:string" name="sha1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>